<template>
  <div class="w-100% absolute sticky bottom-0 z-10 lg:hidden relative">
    <div
      class="absolute bg-indigo-400 dark:bg-rose-400 h-5.4rem b-rd-t-15rem w-80% absolute top-50% left-10%"
    ></div>
    <ul
      class="flex items-center justify-center gap-2rem list-none p-2rem text-2rem w-100% md:right-40 flex bg-gray-50/10 backdrop-blur dark:bg-gray-900/50 light:text-white"
    >
      <li>
        <a
          href="#home"
          class="flex items-center justify-center flex-col transition-all decoration-none text-black dark:text-white gap-0.5rem text-4xl"
        >
          <div
            class="flex items-center justify-center text-gray-300 p-1.4rem bg-gray-600 dark:bg-gray-600 b-rd-50%"
            hover="font-semibold text-white bg-indigo-600 dark:bg-rose-500"
            active="font-semibold text-white bg-indigo-600 dark:bg-rose-500"
          >
            <div class="i-mdi-home-account text-4.6rem" />
          </div>
          Home
        </a>
      </li>
      <li>
        <a
          href="#skills"
          class="flex items-center justify-center flex-col transition-all decoration-none text-black dark:text-white gap-0.5rem text-4xl"
        >
          <div
            class="flex items-center justify-center text-gray-300 p-1.4rem bg-gray-600 dark:bg-gray-600 b-rd-50%"
            hover="font-semibold text-white bg-indigo-600 dark:bg-rose-500"
            active="font-semibold text-white bg-indigo-600 dark:bg-rose-500"
          >
            <div class="i-mdi-account-cog text-4.6rem" />
          </div>
          Skills
        </a>
      </li>
      <li>
        <a
          href="#about"
          class="flex items-center justify-center flex-col transition-all decoration-none text-black dark:text-white gap-0.5rem text-4xl"
        >
          <div
            class="flex items-center justify-center text-gray-300 p-1.4rem bg-gray-600 dark:bg-gray-600 b-rd-50%"
            hover="font-semibold text-white bg-indigo-600 dark:bg-rose-500"
            active="font-semibold text-white bg-indigo-600 dark:bg-rose-500"
          >
            <div class="i-mdi-account-credit-card text-4.6rem" />
          </div>
          About
        </a>
      </li>
      <li>
        <a
          href="#projects"
          class="flex items-center justify-center flex-col transition-all decoration-none text-black dark:text-white gap-0.5rem text-4xl"
        >
          <div
            class="flex items-center justify-center text-gray-300 p-1.4rem bg-gray-600 dark:bg-gray-600 b-rd-50%"
            hover="font-semibold text-white bg-indigo-600 dark:bg-rose-500"
            active="font-semibold text-white bg-indigo-600 dark:bg-rose-500"
          >
            <div class="i-mdi-briefcase-variant text-4.6rem" />
          </div>
          Projects
        </a>
      </li>
      <li>
        <a
          href="#contact"
          class="flex items-center justify-center flex-col transition-all decoration-none text-black dark:text-white gap-0.5rem text-4xl"
        >
          <div
            class="flex items-center justify-center text-gray-300 p-1.4rem bg-gray-600 dark:bg-gray-600 b-rd-50%"
            hover="font-semibold text-white bg-indigo-600 dark:bg-rose-500"
            active="font-semibold text-white bg-indigo-600 dark:bg-rose-500"
          >
            <div class="i-mdi-email text-4.6rem" />
          </div>
          Contact
        </a>
      </li>
    </ul>
  </div>
</template>
